body{
    margin: 20px;
    font-family: Tahoma;
}

.profile-pic {
    width: 150px;
    padding-right: 7px;
    border-radius: 40px;
}

.business-card {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 400px;
    margin: 0px auto;
    text-align: center;
    color: #edf2f4;
    background: #023e8a;
    border-bottom: solid 20px #03045e;
}

.border {
    border: 1px dotted blue;
}